<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Literary Reflections</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.png">
    <base href="/">
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Prata&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div id="navbar-left">
            <a href="/"><img src="assets/website-logo.png" alt="" id="website-logo"></a>
            <p>Literary<br>Reflections</p>
        </div>
        
        <form>
            <div class="search-container">
                <img src="assets/search-icon.png" alt="" id="search-icon">
                <input type="search" class="search-input" placeholder="Search" name="search">
            </div>
        </form>
    </nav>