<%- include('../partials/header.ejs') %>

    <main id="isbn-main">
        <form action="" method="post" id="isbn-entry">
            <label for="isbn-number">Enter the ISBN number for the book</label>
            <input type="text" id="isbn-number" name="isbn-number">
            <input type="submit" value="Submit" id="isbn-submit-button">
        </form>
    </main>
</body>
</html>