<%- include('../partials/header.ejs') %>

    <main id="oops-main">
        <div id="oops-card">
            <h1>Oops!</h1>
            <h4>Looks like we ran into an error</h4>
            <a href="/"><button id="oops-page-home-button">Home</button></a>
        </div>
    </main>

</body>
</html>