html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    border: 2px solid rgb(48, 44, 44);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#website-logo, #up-arrow, #plus-icon {
    height: 40px;
}
#search-icon {
    height: 20px;
}
#navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(48, 44, 44);
    padding: 0.25rem;
}
.search-input {
    width: 75px;
    border: 0;
    text-align: center;
}
.search-input:focus {
    outline: none;
}
#website-intro {
    padding: 0.5rem;
    border: 2px solid rgb(48, 44, 44);
    margin-top: 0.5rem;
}
.book-card {
    margin-top: 0.5rem;
    border: 2px solid rgb(48, 44, 44);
    padding: 0.5rem;
}
.book-cover {
    height: 100px;
    float: left;
    margin-right: 10px;
}
.read-more {
    padding: 10px;
}
#scroll-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(47, 44, 44);
    bottom: 0.5rem;
    right: 0.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-book-note {
    border: 2px solid rgb(46, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 40px;
    width: 40px;
    margin-top: 0.5rem;
}
#isbn-entry {
    border: 2px solid rgb(32, 31, 31);
    padding: 1rem;
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#isbn-submit-button {
    padding: 10px;
}
#isbn-number {
    height: 30px;
    text-align: center;
}
#isbn-main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#add-edit-main {
    border: 2px solid rgb(35, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 0.5rem;
    padding: 1rem;
}
#add-edit-form {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#preview, #notes {
    resize: vertical;
    min-height: 160px;
    padding: 0.5rem;
}
#book-rating {
    text-align: center;
    resize: none;
    padding: 0.5rem;
}
#book-info-submit {
    padding: 10px;
}
#basic-book-info {
    display: grid;
    grid-template-columns: 4fr 8fr;
    border: 2px solid rgb(23, 22, 22);
    border-width: 0 0 2px 0;
}
#img-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
#text-info {
    text-align: center;
}
#button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#edit-notes, #delete-notes {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(47, 44, 44);

    display: flex;
    justify-content: center;
    align-items: center;
}
#edit-icon, #delete-icon {
    height: 20px;
}