* {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
    background-color: #FEF7DC;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    background-color: #ABC4AA;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
a {
    color: #597E52;
    text-decoration: none;
    transition: all 500ms;
}
a:hover {
    text-decoration: underline;
}
#website-logo, #up-arrow, #plus-icon {
    height: 40px;
}
#search-icon {
    height: 20px;
}
#navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3DEBA;
    padding: 0.25rem;
    border-radius: 5px;
}
.search-input {
    width: 75px;
    border: 0;
    text-align: center;
    background-color: #F3DEBA;
}
.search-input:focus {
    outline: none;
}
#website-intro {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #F3DEBA;
    border-radius: 5px;
}
.book-card {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #F3DEBA;
    border-radius: 5px;
}
.book-cover {
    height: 150px;
}
#read-more-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-more {
    padding: 10px;
    background-color: #ABC4AA;
    border: 2px solid #ABC4AA;
    border-radius: 5px;
    transition: all 200ms;
}
.read-more:hover {
    background-color: #cfe7ce;
}
#scroll-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(47, 44, 44);
    bottom: 0.5rem;
    right: 0.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F1C376;
    border: 2px solid #F1C376;
    border-radius: 50%;
    transition: all 200ms;
}
#scroll-to-top:hover {
    background-color: #FFF4F4;
}
#add-book-note {
    background-color: #F1C376;
    border: 2px solid #F1C376;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 40px;
    width: 40px;
    margin-top: 0.5rem;
    transition: all 200ms;
}
#add-book-note:hover {
    background-color: #FFF4F4;
}
#isbn-entry {
    background-color: #F3DEBA;
    border-radius: 5px;
    padding: 1rem;
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#isbn-submit-button {
    padding: 10px;
    background-color: #ABC4AA;
    border: 2px solid #ABC4AA;
    border-radius: 5px;
    transition: all 200ms;
}
#isbn-submit-button:hover {
    background-color: #cfe7ce;
}
#isbn-number {
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    background-color: #FFF4F4;
}
#isbn-number:focus {
    outline: none;
    background-color: #FEF7DC;
}
#isbn-main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#add-edit-main {
    border-radius: 5px;
    background-color: #F3DEBA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 0.5rem;
    padding: 1rem;
}
#add-edit-form {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#preview, #notes {
    resize: vertical;
    min-height: 160px;
    padding: 0.5rem;
    border: 0;
    border-radius: 5px;
    background-color: #FFF4F4;
}
#book-rating {
    text-align: center;
    resize: none;
    padding: 0.5rem;
    border: 0;
    border-radius: 5px;
    background-color: #FFF4F4;
}
#book-rating:focus, #preview:focus, #notes:focus {
    outline: none;
    background-color: #FEF7DC;
}
#book-info-submit {
    padding: 10px;
    background-color: #ABC4AA;
    border: 2px solid #ABC4AA;
    border-radius: 5px;
    transition: all 200ms;
}
#book-info-submit:hover {
    background-color: #cfe7ce;
}
.basic-book-info {
    display: grid;
    grid-template-columns: 4fr 8fr;
    border: 2px solid #675D50;
    border-width: 0 0 2px 0;
}
.img-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-edit-main .book-cover {
    height: 100px;
}
.text-info {
    text-align: center;
}
#button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#edit-notes, #delete-notes {
    width: 40px;
    height: 40px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}
#edit-notes {
    background-color: #6AD4DD;
    border: 2px solid #6AD4DD;
}
#edit-notes:hover {
    background-color: #c2f1f5;
}
#delete-notes {
    background-color: #FA7070;
    border: 2px solid #FA7070;
}
#delete-notes:hover {
    background-color: #f6a9a9;
}
#edit-icon, #delete-icon {
    height: 20px;
}